fieldset{
    width: 50%;
}

h1{
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", monospace;
}

body{
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", monospace;
    color: lime;
    background: black;
    font-size: 16px;
    overflow: hidden;
}

input, textarea {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", monospace;
    background-color : black;
    color: lime;
    border-color: black;
    font-size: 16px;
    padding-left: 0;
    border-left: 0;
}

a{
    color: lime;
}

input[type=text]{
    width: 100%;
}

.download{
    text-decoration: none;
}

.link{
    color: lime;
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus{
    outline: none;
}

input:focus{
    border-color: black;
}

legend{
    color: lime;
    background-color: black;
}

input[type="file"]{
    display: none;
}

.custom-file-upload{
    border: transparent;
    display: inline-block;
    cursor: pointer;
}

.cursor{
    position: relative;
}

.cursor i {
    position: absolute;
    width: 2px;
    height: 90%;
    background-color: gray;
    left: 5px;
    top: 10%;
    animation-name: blink;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    opacity: 1;
}

.cursor input:focus + i {
    display: none;
}

@keyframes blink {
    from {opacity: 1;}
    to {opacity: 0;}
}

.submit{
    font-size: 16px;
    padding-left: 0;
    text-decoration: none;
}

.date{
    font-size: 16px;
    padding-left: 0;
}


